
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

@media (max-width: 991px) {
    .hero-item {
    padding: 0px 0px;
    }
    .test-content {
    text-align: center!important;
    padding-bottom: 20px;
}
}