*{
    scroll-behavior: smooth;
}
nav {
  background-color: #5fbd5f;
  /* background-color: #f0fff0; */
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(243, 243, 243);
}

a{
  text-decoration: none;
}

a:hover {
  color: #21b573 !important;
}
p{
  max-width: 555px;
}


.nav-gap {
  gap: 0px 38px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  background: #21b573;
  cursor: pointer;
}
section{
    padding: 50px 0px;
}

/*! ----------------------- */

.hero-image img {
  max-width: 554px;
  max-height: 346px;
}
.hero-part {
  background: #f0fff0;
}
.hero-item {
  padding: 120px 0px;
}
.hero-content h6 {
  color: #fd511a;
}
.hero-content h1 {
  font-size: 60px;
  padding: 30px 0px;
}
.hero-content span {
  color: #21b573;
}

/*! ----------------------- */
.content {
  max-width: 555px;
  max-height: 107px;
}
h2 {
  font-size: 36px;
}



.row-box {
  max-height: 254px;
  max-width: 230px;
}


.row-box img {
  max-width: 66px;
}

.course-data img {
  max-width: 331px;
  max-height: 234px;
}

.time img {
  max-width: 24px;
  max-height: 24px;
}
.test-content img {
    max-width: 120px;
    max-height: 120px;
    color: #c4c4c4;
}
.test-content P {

    line-height: 30px;
    max-width: 632px;
}

.footer{
  background: #282531;
  color: white;
}
.footer-row p{
  max-width: 370px;
}
.footer-row ul li a{
  color: white;
}
.copy-right p {
    padding: 75px 10px;
}